<button type="button" class="btn btn-light" (click)="openCreateModal()">Create user</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Delete</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of stateService.users$ | async; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{user.fullName}}</td>
    <td>{{user.email}}</td>
    <td>{{'+' + user.phoneNumber}}</td>
    <td>{{user.address}}</td>
    <td><button type="button" class="btn btn-dark" (click)="deleteUser(user.id)">Delete</button></td>
    <td><button type="button" class="btn btn-dark" (click)="goToDetails(user.id)">Details</button></td>

  </tr>
  </tbody>
</table>
