<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="modal-header">
    <h4 class="modal-title">Create new user</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">First Name</label>
      <input
        [formControl]="formControls.firstName"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Valeriy"
        required>
      <ng-container *ngIf="!formControls.firstName.errors || !formControls.firstName.touched; else invalidField"></ng-container>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Surname</label>
      <input
        [formControl]="formControls.surname"
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Pupkin">
      <ng-container *ngIf="!formControls.surname.errors || !formControls.surname.touched; else invalidField"></ng-container>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput3" class="form-label">Patronymic</label>
      <input
        [formControl]="formControls.patronymic"
        type="text"
        class="form-control"
        id="formGroupExampleInput3"
        placeholder="Alexandrovich">
      <ng-container *ngIf="!formControls.patronymic.errors || !formControls.patronymic.touched; else invalidField"></ng-container>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput4" class="form-label">Email</label>
      <input
        [formControl]="formControls.email"
        type="text"
        class="form-control"
        id="formGroupExampleInput4"
        placeholder="example@example.example">
      <ng-container *ngIf="!formControls.email.errors || !formControls.email.touched; else invalidField"></ng-container>
    </div>
    <label for="formGroupExampleInput5" class="form-label">Phone</label>
    <div class="input-group mb-3">
      <span class="input-group-text">+</span>
      <input
        [formControl]="formControls.phoneNumber"
        type="text"
        placeholder="380-XX-XXX-XX-XX, 380XXXXXXXXX"
        id="formGroupExampleInput5"
        class="form-control">
    </div>
    <ng-container *ngIf="!formControls.phoneNumber.errors || !formControls.phoneNumber.touched; else invalidField"></ng-container>
    <br>
    <div class="mb-3">
      <label for="formGroupExampleInput6" class="form-label">Address</label>
      <input
        [formControl]="formControls.address"
        type="text"
        class="form-control"
        id="formGroupExampleInput6"
        placeholder="Ukraine, Kiev, Bla-bla str.">
      <ng-container *ngIf="!formControls.address.errors || !formControls.address.touched; else invalidField"></ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>

<ng-template #invalidField>
  <br>
  <div style="border: 2px solid red; border-radius: 5px">
    Invalid Field!
  </div>
</ng-template>
